<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="skills.css">
</head>
<body>
    <div class="profile-content-skills">
        <h3>Skill Background</h3>
        <div class="skills-imgItem">
            <img src="skills-htmlIcon.png" alt="" width="100px" height="120px" class="skilss-img" />
            <img src="skills-cssIcon.png" alt="" width="100px" height="120px" class="skills-img" />
            <img src="skills-pythonIcon.png" alt="" width="100px" height="120px" class="skills-img" />
            <img src="skills-flaskIcon (2).png" alt="" width="100px" height="120px" class="skills-img" />
            <img src="skills-mongodbIcon.png" alt="" width="100px" height="120px" class="skills-img" />
        </div>
        <p>Saya Memahami Beberapa Skill Seperti HTML5, CSS4, Basic Pyhton, Flask Framework, Dan MongoDB</p>
    </div>
</body>
</html>